* {
	margin: 0;
	padding: 0;
}

.navbar-brand img {
	width: 80px;
}

.nav-item .icon {
	width: 25px;
}

.nav-icon {
	font-size: 20px;
}

.nav-link {
	margin-left: 10px;
}
.Navlogo {
	font-size: 35px;
}
@media screen and (max-width: 481px) {
	.navbar-brand img {
		width: 65px;
	}
	.Navlogo {
		font-size: 25px;
	}
}

.section1 {
	background-image: url(img/banner.jpg);
	height: 560px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

.top-heading h2 {
	font-size: 35px;
}

.top-heading h1 {
	font-size: 70px;
	font-weight: 700;
}

.top-heading .btn {
	font-size: 20px;
	background-color: yellowgreen;
	border: none;
	color: #fff;
}

.top-heading .btn:hover {
	background-color: green;
}

.b {
	border: 1px solid green;
}

.s2Box {
	display: flex;
	align-items: center;
}

.s2Box p {
	font-size: 18px;
}

.s2logo {
	width: 40px;
}

.section3 {
	margin-top: 120px;
}
.product-card {
	position: relative;
}
.product-card:hover .hover-icons {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}
.hover-icons {
	background-color: #f6f5f5;
	padding: 8px 0;

	position: absolute;
	width: 83.3%;
	bottom: 56px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 0.3s ease-in-out;
	transform: translateY(10px);
}
.hover-icons ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.hover-icons ul a {
	color: #777;
	padding: 10px;
}
.hover-icons ul li.devider {
	color: rgb(176, 176, 176);
}

.menSale {
	background-image: url(img/7.webp);
	height: 450px;
	background-repeat: no-repeat;
}

.menSale .btn {
	padding: 10px 20px;
	background-color: yellowgreen;
	font-size: 18px;
}

.menSale .btn:hover {
	background-color: green;
	border: none;
}

.menSaleBox {
	background-color: lightgrey;
	padding: 15px 45px;
	opacity: 0.6;
}

.womenSale {
	background-image: url(img/2.webp);
	height: 450px;
	background-repeat: no-repeat;
}

.womenSale .btn {
	padding: 10px 20px;
	background-color: yellowgreen;
	font-size: 18px;
	border: none;
}

.womenSale .btn:hover {
	background-color: green;
}
.menSale,
.womenSale {
	position: relative;
	max-width: 25rem;
}
.menSale .text-center,
.womenSale .text-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.bagpack .btn {
	padding: 5px 12px;
	background-color: yellowgreen;
	font-size: 14px;
	border: none;
}

.sunglass .btn {
	padding: 5px 12px;
	background-color: yellowgreen;
	font-size: 14px;
	border: none;
}
.small-sall-box {
	background-color: rgba(240, 240, 240, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 10px 0;
}
.section5 {
	background-image: url(img/banner2.jpg);
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.s5Box {
	display: flex;
	align-items: center;
}

.s5Box p {
	font-size: 15px;
}

.s5Box .btn {
	padding: 5px 12px;
	background-color: yellowgreen;
	font-size: 18px;
	border: none;
}

@media only screen and (max-width: 576px) {
	.s2Row {
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* NEWSLATTER SECTION */
.newslatter-section {
	background-color: yellowgreen;
	padding: 30px 0;
}
.newslatter-section .input-group input {
	border-radius: 0;
}
.newslatter-section .input-group button {
	border-radius: 0;
	background-color: #000;
	color: #fff;
}

/* FOOTER */
footer {
	background-color: #eee;
}
.footer-logo img {
	height: 200px;
}
.social-icons {
	display: flex;
	gap: 20px;
	list-style: none;
}
.social-icons a {
	color: #000;
	flex: 20px;
	padding: 5px 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
}
.social-icons i {
	font-size: 20px;
}
.footer-links ul {
	list-style: none;
	padding: 0;
}
.footer-links ul a {
	color: #777;
	display: block;
	margin: 5px 0;
	text-decoration: none;
}
.copyright {
	background-color: yellowgreen;
	padding: 20px 0;
	text-align: center;
}
.copyright p {
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}

/* UTILITIES */
.fw-500 {
	font-weight: 500;
}
